body {
    background-image: url(https://wallpaperaccess.com/full/2882747.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

h1 {
    margin-top: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5vw;
    color: #bc3908;
}

